@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

:root {
  --color-bg: #FFFFFF;
  --color-text: #222;
  --color-sub-text: #767676;
  --color-primary: #007BFF;
  --color-secondary: #6C757D;
  --color-accent: #FF6B6B;
  --color-border: #DDDDDD;
  --font-family: "Pretendard", sans-serif;
  --transition-speed: 0.3s;
}
@font-face {
  font-family: "D2Coding";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  margin: 0;
}

/* 🔹 공통 섹션 */
section {
  max-width: 1280px;
  margin: auto;
  margin-bottom: 140px;
  padding: 0 20px;
}

@media (max-width: 640px) {
  
  section{
    margin-bottom: 80px;

  }

}


.header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  font-family: 'Pretendard', sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-inner {
  max-width: 1520px;
  margin: 0 auto;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #222;
}

.gnb {
  display: flex;
  gap: 36px;
}

.gnb a {
  font-size: 15px;
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.gnb a:hover {
  color: #007BFF;
}

.util-menu {
  display: flex;
  gap: 20px;
}

.util-menu a {
  color: #444;
  font-size: 20px;
  transition: color 0.2s ease;
}

.util-menu a:hover {
  color: #007BFF;
}

.icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
