html {
  scroll-behavior: smooth;
}



.header-bar {
  position: fixed;
  z-index: 100;
  background-color: #f4f4f4;
  width: 100%;
  padding: 10px 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

.header-text {
  color: #222;
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  text-align: center;
}

.side-menu {
  position: fixed;
  left: -260px;
  top: 40px;
  width: 220px;
  height: 100vh;
  background-color: #403e3e;
  color: white;
  transition: left 0.3s ease-in-out;
  z-index: 100;
  padding: 20px;
}

.side-menu.open {
  left: 0px;
}

.side-menu > .logo-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.side-menu.open ~ .hamburger-btn {
  position: fixed;
  left: 200px;
  top: 63.33px;
  transition: left 0.3s ease-in-out;
  > svg > path {
    fill: white;
  }
}

.hamburger-btn {
  position: fixed;
  top: 60.33px;
  left: 20px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  > svg > path {
    fill: black
  }

}
.side-menu > .logo-bar > a {
  width: 150px;
  height: 30px;
  display: flex;
  
  > svg {
    width: 100%;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul > .li0 > .chevron1,
ul > .li2 > .chevron1 {
  width: 14px;
  height: 8px;
}

.li0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  > svg {
    width: 20px;
    height: 18px;
  }
}

.li1 {
  margin-left: 20px;
}

.li1 > a > .chevron2,
.li1 > .chevron2 {
  width: 8px;
  height: 14px;
}

.li1 > a,
.li1,
.li2 {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.li1 > a svg,
.li1 > svg,
.li2 > svg {
  width: 20px;
  height: 18px;
  display: block;
}

.li1 > a span,
.li2 > span {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

@media (max-width: 768px) {

  .header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .side-menu {
    left: -260px;
    height: 100%;
    z-index: 100;
    
  }

  .side-menu.open {
    left: 0;
    opacity: 80%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
      
  
  }

  .side-menu.open +  .hamburger-btn {
    position: fixed;
    left: calc(100vw - 60px);
    z-index: 1000 ;
    background-color: transparent ;
    width: 49px;
    transition: left 0.3s ease-in-out;
  
    > svg > path {
      fill: white ;
    }
  }

 .hamburger-btn {
    position: fixed;
    top: 60.33px;
    left: 20px;
    z-index: 1000;
    background-color: transparent;

    > svg > path {
      fill: black
    }

  }

  .side-menu.open > ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: visible
  }

  .side-menu.open > ul > li {
    font-size: 5vw;
    text-align: center;
    margin: 10px 0;
  }

  .side-menu.open > ul > li > svg
  {
    width: 5vw;
    height: auto;
  }

  .side-menu.open > ul > .li1
   {
    margin-left: 20px;
   }

  .side-menu.open > ul > .li1 > a > .folder {
    width: 5vw;
    height: auto;
  }
  .side-menu.open > ul > .li1 > a > .chevron2 {
    width: 3vw;
    height: auto;
  }
}

