.meme{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(27, 27, 26);
  color: var(--color-bg);
  font-family: var(--font-family);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem;
  z-index: 10;
  pointer-events: none;
  transition: opacity var(--transition-speed)ease-in-out;
}

.product-card{
  position: relative;
  overflow: hidden;
}